@font-face {
  font-family: "TT Lakes Regular";
  src: url("../fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("../fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Regular.woff") format("woff"),
    url("../fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("../fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("../fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Medium.woff") format("woff"),
    url("../fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Bold";
  src: url("../fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("../fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Bold.woff") format("woff"),
    url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1120px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}
.brands {

}
.header {
  border-top: 1px solid #d9fff5;
}
.title {
  font-family: "TT Lakes Regular";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
  background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
}
.title__text {
  padding: 15px 16px 16px 16px;
}
@media (min-width: 768px) {
  .title__text {
    padding-left: 24px;
  }
}
@media (min-width: 1120px) {
  .title__text {
    padding-left: 32px;
  }
}

.brand-repair {
  background: #f2f2f2;
}
@media (min-width: 768px) {
  .brand-repair {
    padding: 0 24px;
  }
}
@media (min-width: 1120px) {
  .brand-repair {
    padding: 0 32px;
  }
}

@media (min-width: 768px) {
  .limit-height {
    max-height: 192px;
    overflow: hidden;
  }
}

.swiper-container {
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .swiper-container {
    padding-bottom: 0;
  }
}
.swiper-wrapper {
  padding-left: 16px;
}
@media (min-width: 768px) {
  .swiper-wrapper {
    flex-wrap: wrap;
    padding-left: 0;
  }
}

.swiper-slide {
  max-width: 240px;
  min-height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  list-style-type: none;
  background: #ffffff;
  cursor: pointer;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .swiper-slide {
    box-sizing: border-box;
    max-width: 224px;
    margin-right: 24px;
    margin-bottom: 16px;
  }
  .swiper-slide:nth-child(3n) {
    margin-right: 0;
  }
}
@media (min-width: 1120px) {
  .swiper-slide {
    box-sizing: border-box;
    max-width: 240px;
    margin-right: 32px;
  }
  .swiper-slide:nth-child(3n) {
    margin-right: 32px;
  }
  .swiper-slide:nth-child(4n) {
    margin-right: 0;
  }
}
.button {
  box-sizing: border-box;
  display: block;
  height: 40px;
  width: 40px;
  border: 2px solid #ff3e79;
  border-radius: 20px;
  background-color: #ffffff;
  background-image: url("../images/brands/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: relative;
}

.swiper-pagination-bullet {
  background-color: #dddddd;
  width: 12px;
  height: 12px;
  opacity: 1;
  margin-bottom: 35px;
}
.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}

.show-more {
  display: none;
}
@media (min-width: 768px) {
  .show-more {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.button-show {
  height: 24px;
  width: 24px;
  border: none;
  background: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.button-show--down {
  background-image: url(../images/section/icon_main.svg);
  margin: 0 8px 16px 0;
}
.button-show--up {
  background-image: url(../images/section/up.svg);
  margin: 0 8px 16px 0;
}
.button-show__text {
  font-family: "TT Lakes Medium";
  color: #1b1c21;
  margin: 0 0 16px 0;
  cursor: pointer;
}
