@font-face {
  font-family: "TT Lakes Regular";
  src: url("../fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("../fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Regular.woff") format("woff"),
    url("../fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("../fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("../fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Medium.woff") format("woff"),
    url("../fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Bold";
  src: url("../fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("../fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Bold.woff") format("woff"),
    url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1120px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0;
}

.container {
  padding: 0 16px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

@media (min-width: 1120px) {
  .container {
    padding: 0 32px;
  }
}
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #d9fff5;
}
@media (min-width: 1120px) {
  .header {
    display: none;
  }
}
.header__inner {
  min-height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button {
  display: block;
  height: 40px;
  width: 40px;
  background-color: #ff3e79;
  border: none;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.button__nav {
  display: block;
  background-image: url(../images/header/menu/menu_icon.svg);
  margin: 0 17px 0 0;
}
@media (min-width: 768px) {
  .button__nav {
    margin: 0 20px 0 0;
  }
}
.logo {
  position: relative;
  margin-right: 16px;
}
@media (min-width: 768px) {
  .logo {
    position: relative;
    margin: 0 0 0 22px;
  }
}
.logo::after {
  content: " ";
  position: absolute;
  height: 32px;
  width: 2px;
  right: -17px;
  top: 10px;
  background: #eaeaea;
  border-radius: 1px;
}
@media (min-width: 768px) {
  .logo::after {
    content: " ";
    position: absolute;
    right: 119px;
    top: 10px;
  }
}
.header-inner__menu-logo {
  display: flex;
  align-items: center;
}
.header-inner__connection {
  display: flex;
}
.button__tel {
  display: none;
}
@media (min-width: 768px) {
  .button__tel {
    display: block;
    background-image: url(../images/header/menu/tel.svg);
    margin: 0 16px 0 0;
  }
}
.button__message {
  display: none;
}
@media (min-width: 768px) {
  .button__message {
    display: block;
    background-image: url(../images/header/menu/message.svg);
    margin: 0 16px 0 0;
  }
}
.button__contact {
  display: none;
}
@media (min-width: 768px) {
  .button__contact {
    display: block;
    background-image: url(../images/header/menu/contact.svg);
    margin: 0 19px 0 0;
    position: relative;
  }
  .button__contact::before {
    content: " ";
    position: absolute;
    height: 32px;
    width: 2px;
    right: -20px;
    top: 4px;
    background: #eaeaea;
    border-radius: 1px;
  }
}
.button__service {
  background-image: url(../images/header/menu/service.svg);
  margin: 0 16px 0 19px;
}
@media (min-width: 1120px) {
  .button__service {
    margin: 0;
  }
}

.button__status {
  background-image: url(../images/header/menu/status.svg);
}
.section {
  background: #f8f8f8;
}

.section__header {
  background: #f8f8f8;
}
@media (min-width: 1120px) {
  .section__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.title {
}
.title__header {
  font-family: "TT Lakes Bold";
  font-size: 28px;
  letter-spacing: -0.6px;
  margin: 0;
  padding-top: 24px;
  margin-bottom: 24px;
  position: relative;
  color: #1b1c21;
}
.title__header::before {
  content: " ";
  position: absolute;
  height: 40px;
  width: 4px;
  left: -16px;
  top: 22px;
  border-radius: 10px;
  background: #41f6d7;
}
@media (min-width: 768px) {
  .title__header {
    margin-bottom: 32px;
  }
  .title__header::before {
    left: -24px;
  }
}
@media (min-width: 1120px) {
  .title__header {
    margin-bottom: 9px;
    padding-top: 42px;
  }
  .title__header::before {
    left: -31px;
    top: 38px;
  }
}
.services {
  display: none;
}
@media (min-width: 768px) {
  .services {
    display: none;
  }
}
@media (min-width: 1120px) {
  .services {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1120px) {
  .services__text {
    font-family: "TT Lakes Medium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    margin: 0 9px 0 32px;
    cursor: pointer;
  }
}
.menu {
}
.menu__items {
}
.menu__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  padding: 0;
  margin: 0;
}
@media (min-width: 1120px) {
  .menu__list {
    flex-wrap: wrap;
    overflow: hidden;
  }
}
.menu__item {
  border: 2px solid transparent;
  list-style-type: none;
  padding: 8px 16px;
  margin-bottom: 24px;
}
.menu__item:hover {
  border: 2px solid #41f6d7;
}
@media (min-width: 768px) {
  .menu__item {
    margin-bottom: 32px;
  }
}
@media (min-width: 1120px) {
  .menu__item {
    margin-bottom: 0;
  }
}
.menu__link {
  font-family: "TT Lakes Medium";
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  text-decoration: none;
  white-space: nowrap;
}
.menu__item--border:hover {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background: #ffffff;
  cursor: pointer;
}
.content {
}
@media (min-width: 768px) {
  .content__container {
    display: flex;
    justify-content: space-between;
  }
}
.text {
}
.text__description {
  font-family: "TT Lakes Regular";
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  max-height: 90px;
  max-width: 288px;
  line-height: 18px;
  overflow: hidden;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .text__description {
    max-height: 160px;
    max-width: 312px;
    line-height: 20px;
    margin: 0 16px 10px 0;
  }
}
@media (min-width: 1120px) {
  .text__description {
    max-height: 160px;
    max-width: 490px;
    margin: 19px 16px 14px 0;
  }
}
.show-more {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.button-show {
  height: 24px;
  width: 24px;
  border: none;
  background: #f8f8f8;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.button-show--more {
  background-image: url(../images/section/icon_main.svg);
  margin: 0 8px 16px 0;
}
.button-show__text {
  font-family: "TT Lakes Medium";
  color: #1b1c21;
  margin: 0 0 16px 0;
  cursor: pointer;
}
.picture {
}

.picture__img {
  height: 176px;
  width: 320px;
  margin: 0 0 35px -16px;
}
@media (min-width: 768px) {
  .picture__img {
    height: 208px;
    width: 360px;
    border-radius: 6px;
    margin: 0 0 40px 32px;
  }
}
@media (min-width: 1120px) {
  .picture__img {
    height: 307px;
    width: 531px;
    margin: 8px 0 49px 16px;
  }
}
